<a href="https://colab.research.google.com/github/AttiyaRaess/attiya/blob/main/Decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Decision tree")

Decision tree

In [4]:
import numpy as np
import pandas as pd
df=pd.read_csv("datas.csv")
df.head()

  Company                  Job    degree  salary_morethan_100k
0  google       sale executive  bachelor                     0
1  google       sale executive    master                     0
2  google     Business manager  bachelor                     1
3  google     Business manager    master                     1
4  google  Computer programmer    master                     0

In [8]:
inputs=df.drop('salary_morethan_100k',axis='columns')
target=df['salary_morethan_100k']
from sklearn.preprocessing import LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()
inputs['company_n']=le_company.fit_transform(inputs['Company'])
inputs['job_n']=le_job.fit_transform(inputs['Job'])
inputs['degree_n']=le_degree.fit_transform(inputs['degree'])
inputs

     Company                  Job    degree  company_n  job_n  degree_n
0     google       sale executive  bachelor          2      2         0
1     google       sale executive    master          2      2         1
2     google     Business manager  bachelor          2      0         0
3     google     Business manager    master          2      0         1
4     google  Computer programmer    master          2      1         1
5     google  Computer programmer  bachelor          2      1         0
6   abc.phar       sale executive    master          1      2         1
7   abc.phar  Computer programmer  bachelor          1      1         0
8   abc.phar     Business manager    master          1      0         1
9   abc.phar     Business manager  bachelor          1      0         0
10  Facebook       sale executive    master          0      2         1
11  Facebook       sale executive  bachelor          0      2         0
12  Facebook     Business manager    master          0      0         1
13  Facebook     Business manager  bachelor          0      0         0
14  Facebook  Computer programmer    master          0      1         1
15  Facebook  Computer programmer    master          0      1         1

In [9]:
inputs_n =inputs.drop(['Company','Job','degree'],axis='columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         1
5           2      1         0
6           1      2         1
7           1      1         0
8           1      0         1
9           1      0         0
10          0      2         1
11          0      2         0
12          0      0         1
13          0      0         0
14          0      1         1
15          0      1         1

In [10]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_morethan_100k, dtype: int64

In [11]:
from sklearn import tree
model= tree.DecisionTreeClassifier()
model.fit(inputs_n, target)

DecisionTreeClassifier()